@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #FFF5F7; /* The signature Juja soft pink */
  color: #1e293b; /* Slate-800 for readable text */
  margin: 0;
  padding: 0;
}